@import url(./two-columns/two-columns.css);
@import url(./two-columns/__brief/two-columns__brief.css);
@import url(./two-columns/__main-text/two-columns__main-text.css);
@import url(./two-columns/__paragraph/two-columns__paragraph.css);
@import url(./two-columns/__span-accent/two-columns__span-accent.css);

.description {
  padding: 100px 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
