@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotation {
  -webkit-animation: rotation linear 20s infinite;
          animation: rotation linear 20s infinite;
}
