.resources__logo {
  width: 270px;
  height: 38px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.resources__logo:hover {
  opacity: 0.3;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}
