.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
  text-decoration: none;
  -webkit-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.khan__buy-link:hover {
  opacity: .5;
}
