.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
  text-decoration: none;
  -webkit-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.khan__buy-link:hover {
  color: #84b6f7;
}

.khan__buy-link:hover > .right-arrow-icon svg {
  animation: .4s right-ease  infinite alternate;
  -webkit-animation: .4s right-ease infinite alternate;
}

.right-arrow-icon svg {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5rem;
}
